:root {
    --main-color: #313030;
    --second-color: #d0c805;
    --font-white: #f1f1f1;
    --font-white-opacity: rgba(241, 241, 241, 0.5);
    --font-dark: #1c1c1c;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-color);
    color: var(--font-white);
}

.page-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-pack: distribute;
    background-color: var(--main-color);
    width: 100%;
    height: 100vh;
}

.page-header__title {
    font-size: 36px;
    margin-top: 25vh;
    margin-left: 5vw;

}

.page-header::after {
    content: '';
    background-color: var(--second-color);
    height: 76vw;
    width: 100%;
    position: absolute;
    bottom: -38vw;
    -webkit-clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
    clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
    visibility: visible;

}

.page-header__catchphrase {
    position: absolute;
    top: 30vh;
    left: 50vw;
    font-weight: 100;
    font-style: italic;
    margin-top: 25vh;
}

.main-content {
    background-color: var(--main-color);
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 18vw 0 10vw 0;
}


.main__title {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 45px;
    position: relative;
}

.main__title::after {
    content: '';
    width: 80vw;
    height: 1px;
    background-color: var(--second-color);
    position: absolute;
    left: 10%;
    bottom: -5px;
}

.admin-table, 
.admin-table__head, 
.admin-table__body,
.admin-table__row--header, 
.admin-table__cell, 
.admin-table__row { 
    display: block; 
}

.admin-table {
    max-width: 90vw;
    margin: 20vh auto 0 auto;
}
.admin-table__head .admin-table__row--header { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.admin-table__row { border: 1px solid #ccc; }

.admin-table__cell { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word; 
}

.admin-table__cell:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 25%; 
    padding-right: 10px; 
    white-space: nowrap;
    
}
.admin-table__cell:nth-of-type(1):before { content: "XMR Adress" }
.admin-table__cell:nth-of-type(2):before { content: "BTC Adress"; }
.admin-table__cell:nth-of-type(3):before { content: "Rate"; }
.admin-table__cell:nth-of-type(4):before { content: "Status"; }

.admin-table__row--header {
    background-color: #262626;
}

.admin-table__row:nth-child(even) {
    background-color: #595959;
}



.btn-wrapper {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: var(--second-color);
    color: var(--font-dark);
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    width: auto;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
}
.btn:last-of-type {
    margin-top: 20px;
}

.footer {
    background-color: var(--second-color);
    padding: 10px;
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 100;
    font-style: italic;
    color: var(--font-dark);
}

@media (min-width: 700px) {
    .page-header {
        background-color: var(--second-color);
        max-width: 100%;
        height: 100px;
        color: var(--font-dark);
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .page-header__title {
        display: inline-block;
        width: auto;
        font-size: 36px;
        margin-top: 32px;
        margin-left: 10%;
        flex-basis: 40%;
    }

    .page-header::after {
        visibility: hidden;

    }

    .page-header__catchphrase {
        margin-top: 0px;
        top: 20px;
        left: auto;
        right: 10vw;
        flex-basis: 40%;
    }

    .main-content {
        padding: 1vw 0 10vw 0;
        width: 100%;
        min-height: 80vh;
    }

    .admin-table {
        display: table
    } 
    .admin-table__head {
        display: table-header-group;
    } 
    .admin-table__body {
        display: table-row-group;
    }
    .admin-table__row--header,
    .admin-table__row {
        display: table-row;
    } 
    .admin-table__cell {
        display: table-cell;
    }

    .admin-table {
        max-width: 98%;
        margin: 10vh auto 0 auto;
        table-layout: fixed;
        font-size: 12px;
    }

    .admin-table__row {
        border: none;
    }
    .admin-table__head .admin-table__row--header {
        position: static;
        background-color: #262626;
    }
    
    .admin-table__row:nth-child(even) {
        background-color: #595959;
    }
    .admin-table__cell {
        text-align: center;
        word-wrap: break-word;
        padding: 10px 0 10px 0;
        border: none;
        position: initial;
    }
    
    .admin-table__cell:before {
        display: none;
    }
    .admin-table__cell--header {
        padding: 20px;
        font-weight: 600;
    }

    .admin-table__cell--header:nth-child(1)
    .admin-table__cell:nth-child(1) {
        width: 53%;
    }
    
    .admin-table__cell--header:nth-child(2),
    .admin-table__cell:nth-child(2) {
        width: 20%;
    }
    .admin-table__cell--header:nth-child(3),
    .admin-table__cell:nth-child(3) {
        width: 10%;
    }
    
    .admin-table__cell--header:nth-child(4),
    .admin-table__cell:nth-child(4) {
        width: 10%;
    }
    
    .admin-table__cell--header:nth-child(5),
    .admin-table__cell:nth-child(5) {
        width: 7%;
    }
    .btn-wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .main__title {
        margin-top: 100px;
    }


}