@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,400,600,600i');

:root {
    --main-color: #313030;
    --second-color: #d0c805;
    --font-white: #f1f1f1;
    --font-white-opacity: rgba(241, 241, 241, 0.5);
    --font-dark: #1c1c1c;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-color);
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
    color: var(--font-white);
}

.page-header__title {
    font-size: 36px;
    margin-top: 25vh;
    height: 40px;
    display: block;
}

.page-header::after {
    content: '';
    background-color: var(--second-color);
    height: 76vw;
    width: 100%;
    position: absolute;
    bottom: -38vw;
    -webkit-clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
    clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);

}

.page-header__catchphrase {
    display: block;
    font-weight: 100;
    font-style: italic;
    margin-top: 25vh;
}

.main-content {
    background-color: var(--main-color);
    height: auto;
    padding: 10vw 0 10vw 0;
}


.main__title {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--font-white);
    margin-top: 100px;
    margin-bottom: 45px;
    position: relative;
}

.main__title::after {
    content: '';
    width: 80%;
    height: 1px;
    background-color: var(--second-color);
    position: absolute;
    left: 10%;
    bottom: -5px;
}


.form {
    max-width: 100vw;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: var(--font-white);
    width: 90vw;
    margin: 0 auto;
}

.form__wrapper {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form__item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
}
.form__label {
    position: relative;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;

}


.form__label__icon {
    position: relative;
    width: 15px;
    height: 15px;
    left: 0;
    fill: var(--font-white-opacity);
    cursor: pointer;
}

.form__label--optional {
    font-size: 12px;
    color: var(--font-white-opacity);
}

.form__input-text {
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
}

.form input[type=radio]:checked,
.form input[type=radio]:not(:checked) {
    position: absolute;
    visibility: hidden;
}


.form__input-radio:checked+.form__label,
.form__input-radio:not(:checked)+.form__label {
    cursor: pointer;

}

.form__input-radio:checked+.form__label::before,
.form__input-radio:not(:checked)+.form__label::before {
    content: '';
    position: absolute;
    left: calc(50vw - 216px);
    background: transparent;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 3px solid var(--font-white);

}

.form__input-radio:checked+.form__label::after,
.form__input-radio:not(:checked)+.form__label::after {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--font-white);
    position: absolute;
    top: 6px;
    left: calc(50vw - 210px);
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

.form__input-radio:checked+.form__label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form__input-radio:not(:checked)+.form__label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form__input-submit {
    background-color: var(--second-color);
    color: var(--font-dark);
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    min-width: 200px;
}

.form__label .form__tooltip {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: var(--font-white);
    color: var(--font-dark);
    font-size: 12px;
    opacity: 0.8;
    min-width: 40vw;
    max-width: 60vw;
    right: 0;
    bottom: 30px;
    border-radius: 10px;
    padding: 5px;
}


.form__label__icon:active+.form__tooltip,
.form__label__icon:hover+.form__tooltip {
    display: block;
}

.faq {
    color: var(--font-white);
    padding: 20px;
}

.faq__item {
    margin-top: 15px;
}
.faq__question{
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.faq__answer {
    display: block;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    text-decoration: initial;
}

.footer {
    background-color: var(--second-color);
    padding: 10px;
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 100;
    font-style: italic;
}

@media (min-width: 700px) {
    .page-header {
        background-color: var(--second-color);
        width: 100vw;
        height: 100px;
        color: var(--font-dark);
    }
    
    .page-header__title {
        font-size: 36px;
        margin-top:32px;
    }
    
    .page-header::after {
        display: none;
    
    }
    
    .page-header__catchphrase {
        display: block;
        font-weight: 100;
        font-style: italic;
        margin-top: 44px;
    }
    
    .main-content {
        background-color: var(--main-color);
        height: auto;
        padding: 10vw 0 10vw 0;
    }
    
    
    .main__title {
        color: var(--font-white);
        margin-top: 100px;
    }
  
    
    
    .form {
        width: auto;
        max-width: 90vw;
        width: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: var(--font-white);
    }
    
    .form__label {
        position: relative;
        display: inline-block;
        font-size: 18px;
        margin-bottom: 10px;
        margin-right: 10px;
        flex-grow: 1;
        text-align: right;
    }
    
    
    .form__label__icon {
        position: relative;
        width: 15px;
        height: 15px;
        left: 0;
        fill: var(--font-white-opacity);
        cursor: pointer;
    }
 
    .form__input-text {
        border: none;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        font-size: 16px;
        padding: 5px;
        margin-bottom: 20px;
        display: inline-block;
        flex-grow: 1;
    }
    
    .form input[type=radio]:checked,
    .form input[type=radio]:not(:checked) {
        position: absolute;
        visibility: hidden;
    }
    
    
    .form__input-radio:checked+.form__label,
    .form__input-radio:not(:checked)+.form__label {
        cursor: pointer;
    
    }
    
    .form__input-radio:checked+.form__label::before,
    .form__input-radio:not(:checked)+.form__label::before {
        content: '';
        position: absolute;
        left: calc(50vw - 130px);
        background: transparent;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 3px solid var(--font-white);
    
    }
    
    .form__input-radio:checked+.form__label::after,
    .form__input-radio:not(:checked)+.form__label::after {
        content: '';
        width: 10px;
        height: 10px;
        background: var(--font-white);
        position: absolute;
        top: 6px;
        left: calc(50vw - 124px);
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    
    }
    
    .form__input-radio:checked+.form__label::after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .form__input-radio:not(:checked)+.form__label::after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    .form__input-submit {
        background-color: var(--second-color);
        color: var(--font-dark);
        padding: 5px;
        font-size: 20px;
        border: none;
        border-radius: 8px;
        margin-top: 25px;
        min-width: 200px;
    }
    
    .form__label .form__tooltip {
        display: none;
        position: absolute;
        z-index: 9999;
        background-color: var(--font-white);
        color: var(--font-dark);
        font-size: 12px;
        opacity: 0.8;
        min-width: 200px;
        max-width: 300px;
        right: 0;
        bottom: 0px;
        border-radius: 10px;
        padding: 5px;
    }
    
    
    .form__label__icon:hover+.form__tooltip {
        display: block;
    }
    
    .faq {
        color: var(--font-white);
        padding: 100px;
    }
}