@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,400,600i');

:root {
    --main-color: #313030;
    --second-color: #d0c805;
    --font-white: #f1f1f1;
    --font-dark:  #1c1c1c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}


.page-header {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
    color: var(--font-white);
}
.page-header__title {
    font-size: 36px;
    margin-top: 25vh;
    height: 40px;
    display: block;
}
.page-header::after{
    content: '';
    background-color: var(--second-color);
    height: 76vw;
    width: 100%;
    position: absolute;
    bottom: -38vw;
    clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 50%);
    
}
.page-header__catchphrase {
    display: block;
    font-weight: 100;
    font-style: italic;
    margin-top: 25vh;
}

.main-content {
    background-color: var(--main-color);
    height: auto;
    padding: 38vw 0 40vw 0;
}

.create-form {
    color: var(--font-white);
    text-align: center;
}

.create-form__label {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.create-form__input {
    display: block;
    width: 100%;
}
.create-form__label .create-form__tooltip {
    display: none;
}
